@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.puntaje_circulo{
    height: 75px;
    width: 75px;
}

.equipos{
    padding: 19px;
}

.lugar{
    align-items: center;
}